{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">Updated Via Pipeline To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <form action="add_new_items" method="post">
    <div>
      <label for="Title">Enter New Item Title: </label>
      <input type="text" name="Title" required />
    </div>
    <div>
      <input type="submit" value="Create New Item!" />
    </div>
  </form>
<br>  
<br>
  <div class="row">
    <div class="col-md-12">
      <h2>To Do:</h2>
      <ul class="list-group mb-4">
        {% for items in view_model.todo_items %}
          <li> {{ items.name }} - {{ items.status }}</li>
          {% if items.status != "Done"%}
          <form action="complete-items/{{items.id}}" method="post">
            <button>Complete</button>
          </form>  
          {% endif %}
        {% endfor %}
      </ul>
      <h2>Doing:</h2>
      <ul class="list-group mb-4">
        {% for items in view_model.doing_items %}
          <li> {{ items.name }} - {{ items.status }}</li>
          {% if items.status != "Done"%}
          <form action="complete-items/{{items.id}}" method="post">
            <button>Complete</button>
          </form>  
          {% endif %}
        {% endfor %}
      </ul>
      <h2>Done:</h2>
      <ul class="list-group mb-4">
        {% for items in view_model.done_items %}
          <li> {{ items.name }} - {{ items.status }}</li>
          {% if items.status != "Done"%}
          <form action="complete-items/{{items.id}}" method="post">
            <button>Complete</button>
          </form>  
          {% endif %}
        {% endfor %}
      </ul>
    </div>
</div>
{% endblock %}